<nav class="navbar navbar-expand-lg border mybg sticky-top">
  <div class="container-fluid bground-nav">
    <a class="navbar-brand" href="/">Proyecto-Marasco</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products"
            >Products</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/products/add">Add</a>
        </li>
      </ul>
      <div class="d-flex justify-content-evenly align-items-center">
        <a class="nav-link" href="/login"> <p>Hi, user</p></a>
        <img
          src="/images/img-default.jpg"
          alt="img-deefault"
          class="userLogImg"
        />
      </div>
      <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
